{
  "swagger": "2.0",
  "info": {
    "title": "API Evangelist Authentication API",
    "description": "This is an Authentication for helping manage the authentication details of many disparate Authentication. Not all APis use the same approach, and this is an attempt to organize the mess.",
    "termsOfService": "http://kinlane.com/terms-of-service.html",
    "version": "v1"
  },
  "host": "authentication.api.apievangelist.com",
  "basePath": "/",
  "schemes": [
    "http"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/authentication/": {
      "get": {
        "summary": "Get Authentication",
        "description": "retrieves all authentication entries",
        "operationId": "getAuthentication",
        "parameters": [
          {
            "in": "query",
            "name": "appid",
            "description": "your appid for accessing the API",
            "type": "string",
            "format": "string"
          },
          {
            "in": "query",
            "name": "appkey",
            "description": "your appkey for accessing the API",
            "type": "string",
            "format": "string"
          },
          {
            "in": "query",
            "name": "query",
            "description": "a text query to search across authentication entries",
            "type": "string",
            "format": "string"
          },
          {
            "in": "query",
            "name": "host",
            "description": "host for the authentication entry",
            "type": "string",
            "format": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "authentication response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/authentication"
              }
            }
          }
        },
        "tags": [
          "Authentication"
        ],
        "security": [
          {
            "appid": []
          },
          {
            "appkey": []
          }
        ]
      },
      "post": {
        "summary": "Add Authentication",
        "description": "add authentication",
        "operationId": "addAuthentication",
        "parameters": [
          {
            "in": "query",
            "name": "appid",
            "description": "your appid for accessing the API",
            "type": "string",
            "format": "string"
          },
          {
            "in": "query",
            "name": "appkey",
            "description": "your appkey for accessing the API",
            "type": "string",
            "format": "string"
          },
          {
            "in": "query",
            "name": "host",
            "description": "host of the authentication entry",
            "type": "string",
            "format": "string"
          },
          {
            "in": "query",
            "name": "title",
            "description": "title of the authentication entry",
            "type": "string",
            "format": "string"
          },
          {
            "in": "query",
            "name": "image",
            "description": "image for the authentication entry",
            "type": "string",
            "format": "string"
          },
          {
            "in": "query",
            "name": "header",
            "description": "header for the authentication entry",
            "type": "string",
            "format": "string"
          },
          {
            "in": "query",
            "name": "footer",
            "description": "footer for the authentication entry",
            "type": "string",
            "format": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "authentication response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/authentication"
              }
            }
          }
        },
        "tags": [
          "Authentication"
        ],
        "security": [
          {
            "appid": []
          },
          {
            "appkey": []
          }
        ]
      }
    },
    "/authentication/{authentication_id}/": {
      "delete": {
        "summary": "Delete Authentication",
        "description": "delete an authentication entry",
        "operationId": "deleteAuthentication",
        "parameters": [
          {
            "in": "path",
            "name": "authentication_id",
            "description": "id for the authentication entry",
            "type": "string",
            "format": "string"
          },
          {
            "in": "query",
            "name": "appid",
            "description": "your appid for accessing the API",
            "type": "string",
            "format": "string"
          },
          {
            "in": "query",
            "name": "appkey",
            "description": "your appkey for accessing the API",
            "type": "string",
            "format": "string"
          },
          {
            "in": "query",
            "name": "host",
            "description": "host for the authentication entry",
            "type": "string",
            "format": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "authentication response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/authentication"
              }
            }
          }
        },
        "tags": [
          "Authentication"
        ],
        "security": [
          {
            "appid": []
          },
          {
            "appkey": []
          }
        ]
      },
      "get": {
        "summary": "Get Authentication",
        "description": "retrieve a specific authentication entry",
        "operationId": "getAuthenticationEtry",
        "parameters": [
          {
            "in": "path",
            "name": "authentication_id",
            "description": "id for the authentication entry",
            "type": "string",
            "format": "string"
          },
          {
            "in": "query",
            "name": "appid",
            "description": "your appid for accessing the API",
            "type": "string",
            "format": "string"
          },
          {
            "in": "query",
            "name": "appkey",
            "description": "your appkey for accessing the API",
            "type": "string",
            "format": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "authentication response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/authentication"
              }
            }
          }
        },
        "tags": [
          "Authentication"
        ],
        "security": [
          {
            "appid": []
          },
          {
            "appkey": []
          }
        ]
      },
      "put": {
        "summary": "Update Authentication",
        "description": "update an authentication entry",
        "operationId": "updateAuthentication",
        "parameters": [
          {
            "in": "query",
            "name": "appid",
            "description": "your appid for accessing the API",
            "type": "string",
            "format": "string"
          },
          {
            "in": "query",
            "name": "appkey",
            "description": "your appkey for accessing the API",
            "type": "string",
            "format": "string"
          },
          {
            "in": "query",
            "name": "title",
            "description": "title of the authentication entry",
            "type": "string",
            "format": "string"
          },
          {
            "in": "query",
            "name": "image",
            "description": "image for the authentication entry",
            "type": "string",
            "format": "string"
          },
          {
            "in": "query",
            "name": "header",
            "description": "header for the authentication entry",
            "type": "string",
            "format": "string"
          },
          {
            "in": "query",
            "name": "footer",
            "description": "footer for the authentication entry",
            "type": "string",
            "format": "string"
          },
          {
            "in": "query",
            "name": "host",
            "description": "host for the authentication entry",
            "type": "string",
            "format": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "authentication response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/authentication"
              }
            }
          }
        },
        "tags": [
          "Authentication"
        ],
        "security": [
          {
            "appid": []
          },
          {
            "appkey": []
          }
        ]
      }
    },
    "/authentication/{authentication_id}/keys/": {
      "post": {
        "summary": "Add Authentication Key",
        "description": "Add authentication key",
        "operationId": "addAuthenticationKey",
        "parameters": [
          {
            "in": "query",
            "name": "appid",
            "description": "your appid for accessing the API",
            "type": "string",
            "format": "string"
          },
          {
            "in": "query",
            "name": "appkey",
            "description": "your appkey for accessing the API",
            "type": "string",
            "format": "string"
          },
          {
            "in": "query",
            "name": "authentication_id",
            "description": "unique id of the authentication entry",
            "type": "string",
            "format": "string"
          },
          {
            "in": "query",
            "name": "name",
            "description": "name of the authentication entry key",
            "type": "string",
            "format": "string"
          },
          {
            "in": "query",
            "name": "description",
            "description": "description for the authentication entry key",
            "type": "string",
            "format": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "authentication response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/keys"
              }
            }
          }
        },
        "tags": [
          "Keys"
        ],
        "security": [
          {
            "appid": []
          },
          {
            "appkey": []
          }
        ]
      }
    },
    "/authentication/{host}/default/": {
      "post": {
        "summary": "Set Default Authentication For Host",
        "description": "set default authentication for host",
        "operationId": "setDefaultAuthenticationForHost",
        "parameters": [
          {
            "in": "query",
            "name": "appid",
            "description": "your appid for accessing the API",
            "type": "string",
            "format": "string"
          },
          {
            "in": "query",
            "name": "appkey",
            "description": "your appkey for accessing the API",
            "type": "string",
            "format": "string"
          },
          {
            "in": "query",
            "name": "authentication_id",
            "description": "unique id of the authentication entry",
            "type": "string",
            "format": "string"
          },
          {
            "in": "query",
            "name": "name",
            "description": "name of the authentication entry key",
            "type": "string",
            "format": "string"
          },
          {
            "in": "query",
            "name": "description",
            "description": "description for the authentication entry key",
            "type": "string",
            "format": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "authentication response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/keys"
              }
            }
          }
        },
        "tags": [
          "Keys"
        ],
        "security": [
          {
            "appid": []
          },
          {
            "appkey": []
          }
        ]
      }
    },
    "/authentication/{host}/": {
      "get": {
        "summary": "Get Authentication by Host",
        "description": "retrieves all authentication entries by host",
        "operationId": "getAuthentication",
        "parameters": [
          {
            "in": "query",
            "name": "appid",
            "description": "your appid for accessing the API",
            "type": "string",
            "format": "string"
          },
          {
            "in": "query",
            "name": "appkey",
            "description": "your appkey for accessing the API",
            "type": "string",
            "format": "string"
          },
          {
            "in": "query",
            "name": "query",
            "description": "a text query to search across authentication entries",
            "type": "string",
            "format": "string"
          },
          {
            "in": "query",
            "name": "host",
            "description": "host for the authentication entry",
            "type": "string",
            "format": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "authentication response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/authentication"
              }
            }
          }
        },
        "tags": [
          "Authentication"
        ],
        "security": [
          {
            "appid": []
          },
          {
            "appkey": []
          }
        ]
      }
    }
  },
  "definitions": {
    "authentication": {
      "properties": {
        "authentication_id": {
          "description": "The unique id for the authentication entry.",
          "type": "string"
        },
        "title": {
          "description": "The title for the authentication entry.",
          "type": "string"
        },
        "image": {
          "description": "The image for the authentication entry.",
          "type": "string"
        },
        "header": {
          "description": "The header for the authentication entry.",
          "type": "string"
        },
        "footer": {
          "description": "The footer for the authentication entry.",
          "type": "string"
        },
        "keys": {
          "description": "The keys for the authentication entry.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/keys"
          }
        }
      }
    },
    "keys": {
      "properties": {
        "key_id": {
          "description": "The unique id for the authentication key.",
          "type": "string"
        },
        "name": {
          "description": "The unique id for the authentication entry.",
          "type": "string"
        },
        "description": {
          "description": "The title for the authentication entry.",
          "type": "string"
        },
        "authentication_id": {
          "description": "The unique id for the authentication entry.",
          "type": "string"
        }
      }
    }
  }
}
